{% extends "base/base.html" %}
{% load thumbnail %}

{% block title %}
  {{ obj.name }}
{% endblock %}

{% block css %}
<style>
.weui_tab_bd {
  margin-top: 10px;
}
.v_head {
  background-image: url(/static/images/v_bg.png);
  height: 160px;
  background-size: 100% 180px;
  background-position: center center;
  text-align: center;
  padding-top: 20px;
  color: #FFF;
}
.v_head .name {
  font-size: 18px;
}
.v_head .brief {
  font-size: 14px;
}
.v_head .weui_grids {
  font-size: 12px;
  margin-top: 5px;
}
.weui_grids:before, .weui_grids:after, .weui_grid:before, .weui_grid:after {
  border: none;
}
.v_head .weui_btn {
  width: 72px;
  height: 28px;
  color: #FFF;
  border: 1px solid #FFF;
  font-size: 12px;
  margin-top:6px;
}
.weui_grid {
  width: 20%;
  height: 40px;
  padding: 0;
}
.weui_grid:active {
  background-color: none;
}
a.weui_grid {
  color: #FFF;
  background-color: 
}
.weui_grid_icon {
  height: 15px;
}
.weui_grid_icon+.weui_grid_label {
  margin-top: 0px;
  color: #FFF;
}
.weui_panel_bd {
  padding: 15px;
}
.list_title {
  font-size: 14px;
  color: #919191;
  line-height: 30px;
  background-color: #FFF;
  padding-left: 10px;
}
.headimg {
  border: 5px solid #FFF;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: auto;
}
</style>
{% endblock %}

{% block content %}
<div class="v_head">
    {% if obj.headimg %}
        <img src="{{ obj.headimg|thumbnail_url:'avatar' }}"/>
    {% else %}
        <div class="headimg">{{ obj.initials|slice:":2" }}</div>
    {% endif %}
	<p class="name">{{ obj.name }}</p>
	<p class="brief">{{ obj.brief|default_if_none:"" }}</p>
	<div class="weui_grids">
	  <div class="weui_grid">
	    <div class="weui_grid_icon">
	      {{ followers }} 
	    </div>
	    <p class="weui_grid_label">
	      粉丝 
	    </p>
	  </div>
	  <div class="weui_grid js_grid">
        <div class="weui_grid_icon">
          {{ articles }} 
        </div>
        <p class="weui_grid_label">
          言论
        </p>
      </div>
	  <a href="javascript:;" class="weui_grid js_grid">
	    <div class="weui_grid_icon">
	      {{ obj.words_weight|default:"待评" }}
	    </div>
	    <p class="weui_grid_label">
	      言值
	    </p>
	  </a>
	  <div class="weui_grid js_grid" style="line-height: 40px; width: 10%;">
        |
      </div>
      <div class="weui_grid js_grid" style="width: 30%;">
        {% if is_follow %}
        <a href="javascript:;" class="weui_btn weui_btn_plain_default unfollow" title="{{ obj.id }}">已关注</a>
        {% else %}
        <a href="javascript:;" class="weui_btn weui_btn_plain_primary follow" title="{{ obj.id }}">+关注</a>
        {% endif %}
        
      </div>
	</div>
</div>

<div class="weui_tab">
    <div class="weui_navbar">
        <a href="#introduction" class="weui_navbar_item{% if token == 'intro' or not token %} weui_bar_item_on{% endif %}">
            <span>简介</span>
        </a>
        <a href="#judge" class="weui_navbar_item{% if token == 'judge' %} weui_bar_item_on{% endif %}">
            <span>已判断</span>
        </a>
        <a href="#no_judge" class="weui_navbar_item{% if token == 'no_judge' %} weui_bar_item_on{% endif %}">
            <span>未判断</span>
        </a>
    </div>
    <div class="weui_tab_bd">
        <div id="introduction" class="weui_tab_bd_item weui_tab_bd_item_active">
            <div class="weui_panel">
			  <div class="weui_panel_hd">背景介绍</div>
			  <div class="weui_panel_bd">
			    <div class="weui_media_box weui_media_text">
			      <p class="weui_media_desc">{{ obj.introduction|default:'' }}</p>
			    </div>
			  </div>
			</div>
            <div class="weui_panel">
              <div class="weui_panel_hd">言论来源</div>
              <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_text">
                {% for s in article_source %}
                  <p class="weui_media_desc">{{ s.article_source }}({{ s.count }})</p>
                {% endfor %}
                </div>
              </div>
            </div>
            
        </div>
        <div id="judge" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div id="no_judge" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div class="weui-infinite-scroll">
           <div class="infinite-preloader"></div>
           正在加载...
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){
        var curpage = 1; 
        var token = 'introduction';
        var loading = false;  //状态标记
        
        function getpage(token, page){
            $.ajax({
                type: "GET",
                url: "{% url 'article_bigv_list' obj.v_id %}",
                data: {'page': page, 'token': token},
                beforeSend: function(){
                	$(".weui-infinite-scroll").show();
                },
                success: function(data){
                	$("#"+token+">.weui_cells").append(data);
                },
                statusCode: {404: function() {
                	showMsg("提示", "没有更多内容！");
                }},
                complete: function(){
                    loading = false;
                    $(".weui-infinite-scroll").hide();
                }
            });
        }
        $(".weui_navbar_item").click(function(){
        	token = $(this).attr('href').split("#")[1];
        	$("#"+token+">.weui_cells").html('');
            curpage = 1;
            getpage(token, curpage);
        });
        $(document.body).infinite().on("infinite", function() {
          if(token == 'introduction') return;
          if(loading) return;
          loading = true;
          getpage(token, ++curpage);
        });
        $(window).scroll(function(){
            var top = 180;
            var scrollTop = $(window).scrollTop();
            if(scrollTop>=top){
                $(".weui_navbar").css({'position':'fixed'});
            }else{
                $(".weui_navbar").css({'position':'absolute'});
            }
        });
        var referrer = document.referrer;
        console.info(referrer);
    });
    </script>
{% endblock %}