{% load thumbnail %}

{% for obj in object_list.iterator %}
<div class="weui_cell">
    <div class="weui_cell_hd">
        <a href="{% url 'bigvs_detail' obj.v_id %}">
        {% if obj.headimg %}
            <img src="{{ obj.headimg|thumbnail_url:'avatar' }}"/>
        {% else %}
            <div class="headimg">{{ obj.initials|slice:":2" }}</div>
        {% endif %}
        </a>
    </div>
    <div class="weui_cell_bd weui_cell_primary">
        <div class="cell_title">
          <a href="{% url 'bigvs_detail' obj.v_id %}">{{ obj.name }}</a>
          <span>{{ obj.words_weight|default:"待评" }}</span>
        </div>
        <div class="cell_desc">{{ obj.brief|default_if_none:''|truncatechars:10 }}</div>
    </div>
    <div class="weui_cell_ft">
    {% if obj.id in follows_bigvs %}
    <a href="javascript:;" class="weui_btn weui_btn_plain_default unfollow" title="{{ obj.id }}">已关注</a>
    {% else %}
    <a href="javascript:;" class="weui_btn weui_btn_plain_primary follow" title="{{ obj.id }}">+关注</a>
    {% endif %}
    </div>
</div>
{% endfor %}