html, body{
  background-color: #F0EFF5;
}
.weui_navbar {
  background-color: #fff;
}
.weui_navbar_item {
  padding: 16px 0 0 0;
  background-color: #fff;
  color: #383838;
}
.weui_navbar_item:after {
  border-right: 1px solid #fff;
}
.weui_navbar_item.weui_bar_item_on {
  background-color: #fff;
  color:#007CB6;
  
}
.weui_bar_item_on span {
  border-bottom: 2px solid #007CB6;
  height: 34px;
  display: block;
  margin: auto;
  width: 80px;
}
.weui_cells {
  margin-top: 0px;
  background-color: #F0EFF5;

}
.weui_cells:after {
  content: none;
}
.weui_cell {
  background-color: #FFF;
}
.weui_cell_hd{
  width:40px;
  height: 40px;
  margin-right:10px;
}
.weui_media_text {
  padding: 0px;
}
.weui_cell_hd img {
  width:40px;
  height: 40px;
}
.weui_cell_ft{
  margin-left: 10px;
}
.weui_cell.content {
  margin-bottom: 5px;
  border-top: 1px solid #F0EFF5;
}
.weui-infinite-scroll {
  display: none;
}
.cell_title {
  font-size: 16px;
}
.cell_title a {
  color: #383838;
}
.cell_title {
  color: #383838;
}
.cell_title span {
  width: 24px;
  height: 14px;
  font-size: 10px;
  background-image: url('/static/images/yanzhi.png');
  background-size: 48px 14px;
  color: #24A8F4;
  display: inline-block;
  padding-left: 24px;
  text-align: center;
  line-height: 14px;
}
.cell_desc {
  color: #919191;
  font-size: 15px;
}
.cell_bottom {
  color: #919191;
  font-size: 12px;
  margin-top: 5px;
}
.weui_btn_plain_primary {
  color: #24A8F4;
  border-color: #24A8F4;
  font-size: 12px;
}
.weui_btn_plain_primary:active {
  background-color: #007ABB;
  border-color: #007ABB;
  color: #FFF;
}
.weui_btn_primary {
  background-color: #24A8F4;
}
div.ac {
  margin-top: 10px;
}
.weui_cell_ft .t {
  width: 20px;
  height: 19px;
  background-image: url('/static/images/t_normal.png');
  background-size:  20px 19px;
  display: inline-block;
  margin-right: 10px;
}
.t.t1 {
  background-image: url('/static/images/t_no_judge.png');
}
.t.t2 {
  background-image: url('/static/images/t_judge.png');
}
.cell_bottom span {
  margin-right: 20px;
  float: right;
  display: inline-block;
  padding-left: 16px;
  line-height: 12px;
  background-repeat: no-repeat; 
}
.cell_bottom .calendar {
  display: inline;
}
span.comment {
  background-image: url('/static/images/comment.png');
  background-size:  14px 12px;
}
span.right {
  background-image: url('/static/images/r.png');
  background-size:  10px 7px;
  background-position: center left;
  padding-left: 12px;
  color: #24A8F4;
}
span.wrong {
  background-image: url('/static/images/w.png');
  background-size:  10px 7px;
  background-position: center left;
  padding-left: 12px;
}
article.weui_article {
  background-color: #fff;
}

#judgement {
  width: 88%;
  position: fixed;
  top: 60px;
  left: 6%;
  z-index: 102;
}
/* @media screen and (min-width: 415px) {
  #judgement {
    width: 330px;
  }
}
 */
 #mask {
  width:100%;
  height:100%;
  background:#11171A;
  position:fixed;
  z-index:101;
  top: 0;
  left: 0;
  opacity:0.8;
  display: none;
}

.empty_hint {
  background-image: url('/static/images/e_t.png');
  background-size:  64px 64px;
  background-position: center 80px;
  background-repeat: no-repeat; 
  padding: 100px 0;
  text-align: center;
  color: #C0C0C0;
  display: none;
}
.empty_hint.mine {
  background-image: url('/static/images/cry.png');
  background-size:  129px 129px;
}
.empty_hint.v {
  background-image: none;
}
.empty_hint p {
  margin-top: 120px;
}