{% extends "base/base.html" %}

{% block title %}
大V预测
{% endblock %}

{% block content %}
<div class="weui_tab">
    <div class="weui_navbar">
        <a href="#all" class="weui_navbar_item{% if token == 'all' or not token %} weui_bar_item_on{% endif %}">
            <span>全部言论</span>
        </a>
        <a href="#mine" class="weui_navbar_item{% if token == 'mine'%} weui_bar_item_on{% endif %}">
            <span>我的关注</span>
        </a>
        <a href="#judge" class="weui_navbar_item{% if token == 'judge'%} weui_bar_item_on{% endif %}">
            <span>我的验证</span>
        </a>
        
    </div>
    <div class="weui_tab_bd">
        <div class="weui_search_bar" id="search_bar">
          <form class="weui_search_outer">
            <div class="weui_search_inner">
              <i class="weui_icon_search"></i>
              <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required name="q" value="{{ q }}" autoComplete="off">
              <input type="hidden" name="token" value="mine" id="id_token"/>
              <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
              <i class="weui_icon_search"></i>
              <span>搜索</span>
            </label>
          </form>
          <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
        </div>
		<div class="nav">
		    验证数量超过{{ request.wechatuser.rank|default:"0%" }}的用户
		    <a class="valid">已验证</a>
		    <a class="no_due">未到期</a>
		    <a class="due cur">可验证</a>
		</div>

        <div id="mine" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div id="all" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div id="judge" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div class="weui-infinite-scroll">
           <div class="infinite-preloader"></div>
           正在加载...
        </div>
        
        <div class="empty_hint no_due">
	        <p>
	        还没有内容，点击全部言论！<br/>
	        去看看新的文章吧！<br/>
	        </p>
	    </div>
        <div class="empty_hint due">
	        <p>
	        没有需要验证的观点！<br/>
	        先逛一逛，去看看新的文章吧！
	        </p>
	    </div>
        <div class="empty_hint valid">
	        <p>
	        别心急，时间到了自然见分晓！
	        </p>
        </div>
        <div class="empty_hint mine">
	        <p>
	        暂无关注的大V，点击全部言论<br/>
	        或者关注大V吧
	        </p>
	        <a href="{% url 'bigvs_index' %}" class="weui_btn weui_btn_plain_primary" style="margin-top: 50px; width: 80%;">关注大V</a>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css"></link>
<style>
  .weui_cell, .weui_cell:before {
    content: none;
  }
  .nav {
    line-height: 44px;
    color: #919191;
    padding: 0 10px;
    font-size: 12px;
    display: none;
  }
  .nav a {
    float: right;
    margin-right: 20px;
  }
  .nav a.cur {
    color: #007ABB;
  }
  div.judge_action {
    font-size: 14px;
	color: #007CB6;
	background-color: #FFF;
	line-height: 32px;
	padding-left: 20px;
	border-bottom: 1px solid #DADADA;
  }
  div.judge_action .del {
    background: url(/static/images/del.png) no-repeat center center;
    background-size: 10px 12px;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-right: 10px;
  }
  div.judge_hint {
    background: url(/static/images/hint.png) no-repeat 6px 8px;
    background-size: 9px 13px;
    background-color: #F5F5F5;
    color: #919191;
    font-size: 14px;
    padding-left:20px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
  }
</style>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">
{% with openid=request.wechatuser.openid %}
$(document).ready(function(){
    var curpage = 1; 
    var loading = false;  //状态标记
    var token = 'all';
    var data = {'q': '{{ q }}'};
    var jtype = '';
    if('{{ q }}'){
    	$("#search_text").click();
    }
    function getpage(token, page){
    	data['page'] = page;
        if(token == 'mine'){
            data['openid'] = '{{ openid }}';
            //data['r'] = Math.random();
        }
        $.ajax({
            type: "GET",
            url: "{% url 'article_index' %}" + token +"/",
            data: data,
            beforeSend: function(){
                $(".weui-infinite-scroll").show();
            },
            success: function(res){
                $("#"+token+">.weui_cells").append(res);
                if($.trim(res) == ''){
                    showMsg("提示", "没有更多内容！");
                }
            },
            statusCode: {404: function() {
                if(token == 'judge'){
                	showHint(jtype);
                }else{
                	showHint(token);
                }
            }},
            complete: function(){
                loading = false;
                $(".weui-infinite-scroll").hide();
            }
        });
    }
    function showHint(type){
    	if($("#" + token + " .weui_cells").html() == ''){
    		$("." + type).show();
    	}
    }
    function hideHint(){
    	$(".empty_hint").hide();
    }
    $(".weui_navbar_item").click(function(){
    	hideHint();
        token = $(this).attr('href').split("#")[1];
        if(token == 'judge'){
        	$('#search_bar').hide()
        	$('.nav').show();
        }else{
        	$('#search_bar').show()
        	$('.nav').hide();
        }
        $("#"+token+">.weui_cells").html('');
        $("#"+token).removeClass('weui_tab_bd_item_active');
        $("#"+token).addClass('weui_tab_bd_item_active');
        curpage = 1;
        getpage(token, curpage);
        $("#id_token").val(token);
        $("#search_input").AutoComplete({
            'data': '{% url "article_jsondata_for_title" %}?token='+token+'&openid={{ openid }}',
            'width': 'auto',
            'ajaxDataType': 'json',
            'async': true,
            'afterSelectedHandler': function(res){
                $("#search_input").val(res.label);
                $("form").submit();
            },
            'emphasis': false,
        });
    });
    $(".nav a").click(function(){
    	hideHint();
    	$(".nav a").removeClass('cur');
    	jtype = $(this).attr('class')
    	data['jtype']= jtype;
    	$(this).addClass('cur');
    	$("#"+token+">.weui_cells").html('');
    	curpage = 1;
    	getpage(token, curpage);
    });
    $(".weui_cells").on('click', 'a.del', function(){
    	var item = $(this);
        var id = item.attr('title');
    	$.confirm("确定要删除吗？", function() {
    		$.post('{% url "article_judge_delete" %}', {id: id}, function(res){
                if(res.status == 'ok'){
                    item.parent().parent().slideUp();
                }
            });
		}, function() {

		});
    });
    $(".weui_bar_item_on").click();
    $(document.body).infinite().on("infinite", function() {
      if(loading) return;
      loading = true;
      getpage(token, ++curpage);
    });
    
});
{% endwith %}
</script>
{% endblock %}