{% extends "base/base.html" %}

{% block title %}
精选言论
{% endblock %}

{% block content %}
<div class="weui_tab">
    <div class="weui_navbar">
        <a href="#mine" class="weui_navbar_item{% if token == 'mine' or not token %} weui_bar_item_on{% endif %}">
            <span>我的关注</span>
        </a>
        <a href="#all" class="weui_navbar_item{% if token == 'all' %} weui_bar_item_on{% endif %}">
            <span>全部言论</span>
        </a>
    </div>
    <div class="weui_tab_bd">
        <div class="weui_search_bar" id="search_bar">
          <form class="weui_search_outer">
            <div class="weui_search_inner">
              <i class="weui_icon_search"></i>
              <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required name="q" value="{{ q }}" autoComplete="off">
              <input type="hidden" name="token" value="mine" id="id_token"/>
              <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
              <i class="weui_icon_search"></i>
              <span>搜索</span>
            </label>
          </form>
          <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
        </div>
        <div id="mine" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div id="all" class="weui_tab_bd_item">
            <div class="weui_cells">
                
            </div>
        </div>
        <div class="weui-infinite-scroll">
           <div class="infinite-preloader"></div>
           正在加载...
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css"></link>
<style type="text/css">
  .weui_cell, .weui_cell:before {
	border-top: 1px solid #fff;
  }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var curpage = 1; 
    var loading = false;  //状态标记
    var token = 'mine';
    var settings = {'all':{'page': 1, 'loaded': false}
                  , 'mine': {'page': 1, 'loaded': false}}
    if('{{ q }}'){
    	$("#search_text").click();
    }
    function getpage(token, page){
    	var data = {'page': page, 'q': '{{ q }}'};
        if(token == 'mine'){
            data['openid'] = '{{ openid }}';
            //data['r'] = Math.random();
        }
        $.ajax({
            type: "GET",
            url: "{% url 'article_index' %}" + token +"/",
            data: data,
            beforeSend: function(){
                $(".weui-infinite-scroll").show();
            },
            success: function(data){
                $("#"+token+">.weui_cells").append(data);
            },
            statusCode: {404: function() {
                $.notification({
                  title: "提示",
                  text: "没有更多内容！",
                  media: "",
                  data: "",
                  time: 2000,
                  onClick: function(data) {
                    
                  },
                  onClose: function(data) {
                    
                  }
                });
            }},
            complete: function(){
                loading = false;
                $(".weui-infinite-scroll").hide();
                settings[token]['loaded'] = true;
            }
        });
    }
    
    $(".weui_navbar_item").click(function(){
        token = $(this).attr('href').split("#")[1];
        $("#"+token+">.weui_cells").html('');
        $("#"+token).removeClass('weui_tab_bd_item_active');
        $("#"+token).addClass('weui_tab_bd_item_active');
        getpage(token, 1);
        $("#id_token").val(token);
        $("#search_input").AutoComplete({
            'data': '{% url "article_jsondata_for_title" %}?token='+token+'&openid={{ openid }}',
            'width': 'auto',
            'ajaxDataType': 'json',
            'async': true,
            'afterSelectedHandler': function(data){
                $("#search_input").val(data.label);
                $("form").submit();
            },
            'emphasis': false,
        });
    });
    $(".weui_bar_item_on").click();
    $(document.body).infinite().on("infinite", function() {
      if(loading) return;
      loading = true;
      getpage(token, ++settings[token]['page']);
    });
    
});
</script>
{% endblock %}