{% extends 'base/base.html' %}

{% block title %}
意见反馈
{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="手机号" name="phone_number" id="id_phone_number" maxlength="11">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="email" placeholder="邮箱" name="email" id="id_email">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" placeholder="请输入您对信谁的反馈意见" rows="4" name="content" id="id_content"></textarea>
        </div>
    </div>
    <input type="hidden" name="wechatuser" value="{{ request.wechatuser.id }}">
</div>
<a class="weui_btn weui_btn_primary" style="margin-top: 150px;">提交</a>
</form>
{% endblock %} 

{% block css %}
<style>
.weui_btn {
  width: 80%;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
    	$(".weui_btn").click(function(){
    		var phone_number = $("#id_phone_number").val();
    		var email = $("#id_email").val();
    		if(!(phone_number||email)){
    			showMsg("警告", "手机号或邮箱至少一项不能为空！");
    			return false;
    		}
    		if(phone_number){
                var t = /^1[3|4|5|8]\d{9}$/;
                if(!t.test(phone_number)){
                    showMsg("警告", "输入的手机号不合法！");
                    return false;
                }
            }
    		if(email){
    			var t = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
    			if(!t.test(email)){
    				showMsg("警告", "输入的邮箱不合法！");
    				return false;
    			}
    		}
    		if(!$("#id_content").val()){
                showMsg("警告", "反馈内容不能为空！");
                return false;
            }
    		$("form").submit();
    	});
    });
</script>
{% endblock %}